<component name="ArtifactManager">
  <artifact type="war" name="Springmvc_day01_1:war">
    <output-path>$PROJECT_DIR$/Springmvc_day01_1/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>Springmvc_day01_1</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="Springmvc_day01_1.war">
      <element id="artifact" artifact-name="Springmvc_day01_1:war exploded" />
    </root>
  </artifact>
</component>